.cc-image-teaser-configurator {
    $root: &;

    &--teaser-and-text {
        .cc-component-actions__button--delete {
            display: none;
        }
    }
    

    &__section {
        margin: 20px 0 0;
        padding: 20px 0 0;
        border-top: 1px solid #e5e5e5;

        &--type-actions {
            margin-top: 0;
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }

        &--2-columns {
            display: flex;
            justify-content: space-between;
        }

        &:first-child {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }

    &__item {
        position: relative;

        &--column {
            width: calc(50% - 1rem);
        }

        &:hover {
            .cc-component-adder {
                z-index: 7;
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &__toolbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 10px 0;
        height: 3rem;
        line-height: 3rem;
        text-align: right;
    }

    &__image-holder-outer {
        position: relative;
        margin: 0 0 1rem;
        padding: 10px;
        background: #fff;
        border: 1px dashed #e5e5e5;

        &:before {
            content: '';
            display: block;
            padding-top: 56.25%;
        }
    }

    &__image-holder-inner {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background: #f5f5f5;
    }

    &__scenario-options {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }

    &__option {
        cursor: pointer;
        position: relative;
        border-color: #d4d4d4;
        fill: #d4d4d4;
        color: #adadad;
        transition: border-color 0.3s, opacity 0.3s, color 0.3s;
        margin: 0 15px;

        &:hover {
            border-color: #0072ff;
        }

        &--selected {
            border-color: #0072ff;
            color: #0072ff;
        }

        &--disabled {
            cursor: not-allowed;

            &:hover {
                border-color: #d4d4d4;
            }

            #{$root}__option-wrapper {
                &:after {
                    opacity: 0.8;
                }
            }
        }
    }

    &__option-wrapper {
        position: relative;
        padding: 22px 28px;
        border-color: inherit;
        border-style: dashed;
        border-width: 1px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #f9f9f9;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &__option-icon {
        width: 10vw;
        height: 5.8vw;

        @media (max-width: 62.5em) {
            // 1000px
            width: 100px;
            height: 58px;
        }

        @media (min-width: 105.625em) {
            // 1690px
            width: 169px;
            height: 98px;
        }
    }

    &__option-name {
        padding: 20px 0;
        margin: 0;
        text-align: center;
        font-weight: 600;
    }

    &__modal {
        display: none;
    }

    &__widget-chooser-trigger {
        cursor: pointer;
        transition: background 0.2s linear;

        &:hover {
            background: darken(#e3e3e3, 5%);
        }
    }

    &__select {
        width: 100%;
    }
}
