// cc-product-teaser-configurator
// Product teaser configurator for CC admin panel
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

.cc-product-teaser-configurator {
    &__section {
        margin: 20px 0 20px 0;
        padding: 20px 0 20px 200px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    &__input-hint,
    &__error-wrapper {
        max-width: 800px;
    }

    &__error {
        display: inline-block;
        margin: 1.5rem 0 0 25%;
        position: relative;
        padding: 1.2rem 1.5rem 1.2rem 4rem;
        border: 1px dashed #c20000;
        background-color: rgba(255, 26, 0, 0.11);

        &:before {
            position: absolute;
            top: 1.4rem;
            left: 1.5rem;
            content: '!';
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 0.8rem;
            background: #ff0000;
            color: #fff;
            font-size: 1.2rem;
            text-align: center;
            font-weight: bold;
        }
    }

    .cc-input__hint {
        padding-left: 25%;
    }

    &__custom-sections {
        .cc-input__hint {
            padding-left: 0;
        }
    }
}
