.cc-instagram-feed-preview {
    $root: &;

    display: flex;
    justify-content: space-between;
    list-style: none inside none;

    &__tile {
        width: calc(25% - 1.15rem);
        padding: 1.15rem 1.15rem 2.3rem;
        box-sizing: border-box;
        background: #f7f7f7;
        border: 1px dashed #e4e1d9;
    }

    &__tile-inner {
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 100%;
    }

    &__icon {
        width: 9rem;
        height: 9rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}