<component-actions class="cc-component-actions">
    <div class="cc-component-actions__buttons" slot="cc-component-actions__buttons">
        {% include '../../action-button/action-button.twig' with {
            'classes': 'cc-action-button--look_default cc-action-button--type_icon-only',
            'icon': {
                'classes': 'cc-action-button__icon--size_100',
                'svgId': 'icon_arrow-up',
            }
        } %}
        {% include '../../action-button/action-button.twig' with {
            'classes': 'cc-action-button--look_default cc-action-button--type_icon-only',
            'icon': {
                'classes': 'cc-action-button__icon--size_100',
                'svgId': 'icon_arrow-down',
            }
        } %}
        {% include '../../action-button/action-button.twig' with {
            'classes': 'cc-action-button--look_default cc-action-button--type_icon-only',
            'icon': {
                'svgId': 'icon_settings'
            }
        } %}
        {% include '../../action-button/action-button.twig' with {
            'classes': 'cc-action-button--look_default cc-action-button--type_icon-only',
            'icon': {
                'svgId': 'icon_duplicate'
            }
        } %}
        {% include '../../action-button/action-button.twig' with {
            'classes': 'cc-action-button--look_default cc-action-button--type_icon-only',
            'icon': {
                'svgId': 'icon_trash-can'
            }
        } %}
    </div>
</component-actions>
