<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\ContentConstructor\Repository\ComponentsConfigurationRepository" type="MageSuite\ContentConstructorAdmin\Repository\ComponentsConfigurationRepository" />
    <preference for="MageSuite\ContentConstructor\Factory\AdminComponentFactory" type="MageSuite\ContentConstructorAdmin\Service\AdminComponentFactory" />
    <preference for="MageSuite\ContentConstructor\Components\StaticBlock\DataProvider" type="MageSuite\ContentConstructorAdmin\DataProviders\StaticBlockDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\Paragraph\WysiwygConfigDataProvider" type="MageSuite\ContentConstructorAdmin\DataProviders\WysiwygConfigDataProvider" />

    <preference for="MageSuite\ContentConstructor\Components\ProductCarousel\CategoryPickerProvider" type="MageSuite\ContentConstructorAdmin\UiComponents\CategoryPickerProvider" />

    <preference for="MageSuite\ContentConstructor\Components\CmsTeaser\CmsTeaserAdminDataProvider" type="MageSuite\ContentConstructorAdmin\DataProviders\CmsTeaserAdminDataProvider" />

    <preference for="MageSuite\ContentConstructor\View\AdminTemplateLocator" type="MageSuite\ContentConstructorAdmin\Template\Locator" />

    <preference for="\Magento\Widget\Block\Adminhtml\Widget\Form" type="\MageSuite\ContentConstructorAdmin\Block\Adminhtml\Widget\Form"/>


    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="add_cc_layout_xml_on_product_save" type="MageSuite\ContentConstructorAdmin\Plugin\ProductEdit" sortOrder="1" />
    </type>

    <type name="\MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <plugin name="remap_sorting_fields" type="MageSuite\ContentConstructorAdmin\Plugin\RemapSortingFields" sortOrder="1" />
    </type>

    <type name="MageSuite\ContentConstructorAdmin\Model\ComponentsPool">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="components" xsi:type="array">
                    <item name="button" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\Button</item>
                        <item name="name" xsi:type="string">Button</item>
                        <item name="description" xsi:type="string">You can place a button on your CMS page. Define the button text and the target link with this component.</item>
                    </item>
                    <item name="headline" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\Headline</item>
                        <item name="name" xsi:type="string">Headline</item>
                        <item name="description" xsi:type="string">You can add headlines and subheadlines to your CMS page.</item>
                    </item>
                    <item name="product-carousel" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\ProductCarousel</item>
                        <item name="name" xsi:type="string">Product Carousel</item>
                        <item name="description" xsi:type="string">This carousel will display products from a specific category on your CMS page.</item>
                    </item>
                    <item name="paragraph" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\Paragraph</item>
                        <item name="name" xsi:type="string">Paragraph</item>
                        <item name="description" xsi:type="string">Choose this component if you want to include a text block to you CMS page.</item>
                    </item>
                    <item name="static-cms-block" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\StaticBlock</item>
                        <item name="name" xsi:type="string">Static Block</item>
                        <item name="description" xsi:type="string">Choose this component to include an existing static block to your CMS page.</item>
                    </item>
                    <item name="hero-carousel" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\HeroCarousel</item>
                        <item name="name" xsi:type="string">Hero Carousel</item>
                        <item name="description" xsi:type="string">This component allows you to add several Hero images in a Slider. You can define Headlines, Subheadlines, Text and Buttons on each image.</item>
                    </item>
                    <item name="image-teaser" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\ImageTeaserLegacy</item>
                        <item name="name" xsi:type="string">Image Teaser Legacy</item>
                        <item name="description" xsi:type="string">This component allows you to add 1-6 image teasers with or without text in a row. This component is deprecated and will be removed in the future.</item>
                    </item>
                    <item name="separator" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\Separator</item>
                        <item name="name" xsi:type="string">Separator</item>
                        <item name="description" xsi:type="string">This horizontal line is used to visualize separation of two components.</item>
                    </item>
                    <item name="category-links" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\CategoryLinks</item>
                        <item name="name" xsi:type="string">Category Links</item>
                        <item name="description" xsi:type="string">Include category links with this component.</item>
                    </item>
                    <item name="brand-carousel" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\BrandCarousel</item>
                        <item name="name" xsi:type="string">Brand Carousel</item>
                        <item name="description" xsi:type="string">Highlight some brands and show them in a carousel by using this component.</item>
                    </item>
                    <item name="product-grid" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\ProductGrid</item>
                        <item name="name" xsi:type="string">Products grid</item>
                        <item name="description" xsi:type="string">This component will display products grid from a specific category.</item>
                    </item>
                    <item name="cms-teaser" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\CmsPagesTeaser</item>
                        <item name="name" xsi:type="string">CMS Pages Teaser</item>
                        <item name="description" xsi:type="string">This component lists CMS pages by tag.</item>
                    </item>
                    <item name="product-finder" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\ProductFinder</item>
                        <item name="name" xsi:type="string">Product Finder</item>
                        <item name="description" xsi:type="string">Allows for creation of click-through wizard leading the user to filtered category pages.</item>
                    </item>
                    <item name="custom-html" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\CustomHtml</item>
                        <item name="name" xsi:type="string">Custom HTML</item>
                        <item name="description" xsi:type="string">This component displays any custom HTML without formatting.</item>
                    </item>
                    <item name="daily-deal-teaser" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\DailyDealTeaser</item>
                        <item name="name" xsi:type="string">Daily Deal Teaser</item>
                        <item name="description" xsi:type="string">Daily Deal Teaser.</item>
                    </item>
                    <item name="picker" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Picker</item>
                        <item name="name" xsi:type="string"/>
                        <item name="description" xsi:type="string"/>
                    </item>
                    <item name="magento-product-grid-teasers" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\ProductGridTeasers</item>
                        <item name="name" xsi:type="string"/>
                        <item name="description" xsi:type="string"/>
                    </item>
                    <item name="image-teaser-2" xsi:type="array">
                        <item name="className" xsi:type="string">MageSuite\ContentConstructorAdmin\Block\Adminhtml\Component\ImageTeaser</item>
                        <item name="name" xsi:type="string">Image Teaser</item>
                        <item name="description" xsi:type="string">This component allows you to add 1-6 image teasers with or without text in a row that will scale proportionally.</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\CmsPage" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdmin\Model\ConfigurationProvider\CmsPage</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Product" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdmin\Model\ConfigurationProvider\Product</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Category" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdmin\Model\ConfigurationProvider\Category</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Brand" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdmin\Model\ConfigurationProvider\Brand</argument>
        </arguments>
    </virtualType>
</config>
