// cc-component-headline-preview
// Preview of headline component for cc-layout-builder
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cc-background-preview {
    padding: 3rem;
    
    &__type {
        display: inline-block;
        padding: 1rem;
        background-color: rgba(255,255,255,0.8);
    }
}
