<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\Design\Backend\Logo">
        <plugin name="creativestyle_get_allowed_extension_types"
                type="MageSuite\ContentConstructorAdmin\Plugin\GetAllowedExtensionTypes"
                sortOrder="1" />
    </type>
</config>