<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\Design\Backend\Logo">
        <plugin name="creativestyle_get_allowed_extension_types"
                type="MageSuite\ContentConstructorAdmin\Plugin\GetAllowedExtensionTypes"
                sortOrder="1" />
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="use_default_components" xsi:type="array">
                    <item name="class" xsi:type="string">MageSuite\ContentConstructorAdmin\UiComponents\DataProvider\Product\Form\Modifier\DisableUseDefaultComponentsField</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
