<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="cms_page_prepare_save">
        <observer name="content_constructor_cms_page_edit" instance="MageSuite\ContentConstructorAdmin\Observers\PageEditObserver" />
    </event>
    <event name="catalog_category_prepare_save">
        <observer name="content_constructor_category_edit" instance="MageSuite\ContentConstructorAdmin\Observers\CategoryEditObserver" />
    </event>
    <event name="brand_prepare_save">
        <observer name="content_constructor_brand_edit" instance="MageSuite\ContentConstructorAdmin\Observers\BrandEditObserver" />
    </event>
</config>
