$image-teaser-preview-item-gap: 1.3rem;

.cc-image-teaser-preview {
    $root: &;

    &__wrapper {
        overflow: hidden;
    }

    &__scene {
        display: flex;
        align-items: stretch;
        padding: 0;
        list-style: none;
        margin: 0 #{-$image-teaser-preview-item-gap / 2};
        flex-wrap: wrap;
        min-height: 12rem;
    }

    &__item {
        width: calc(100% - #{$image-teaser-preview-item-gap / 2});
        position: relative;
        margin: 0 #{$image-teaser-preview-item-gap / 2} #{$image-teaser-preview-item-gap};

        @for $in-row from 2 to 8 {
            #{$root}__scene--#{$in-row}-in-row & {
                width: calc(
                    #{100% / $in-row} - #{$image-teaser-preview-item-gap}
                );
            }
        }

        &--text-only {
            .cc-teaser-preview__image-placeholder {
                display: none;
            }
        }
    }
}
