// cc-magento-product-grid-teasers-configurator
// This component will be responsible for configuration of image teasers inside native products grid on M2 category pages
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

.cc-magento-product-grid-teasers-configurator {
    $root: &;

    padding-top: 2rem;
    padding-bottom: 1rem;

    &__item {
        position: relative;

        &--animating {
            pointer-events: none;
            transition: box-shadow 0.15s ease-in-out, transform 0.4s cubic-bezier(0, 0.7, 0.32, 1);
        }

        &:hover {
            .cc-component-adder {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &-action-button {
            font-size: 1.45rem;
        }
    }
}
