// cc-component-hero-carousel-preview
// Preview of hero carousel component in CC panel
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cc-hero-carousel-preview {
    $root: &;

    overflow: hidden;
    position: relative;
    font-size: 0;

    &__scene {
        width: 100%;
        margin-left: -122%;
        display: inline-block;
        white-space: nowrap;

        &--single {
            margin-left: 0;
        }
    }

    &__slide {
        display: inline-block;
        position: relative;
        width: 74%;
        padding: 0 0.65rem;
        vertical-align: top;

        #{$root}__scene--single & {
            width: 100%;
            padding: 0;
        }

        &-content {
            position: absolute;
            bottom: 1px;
            left: calc(0.65rem + 1px);
            width: calc(100% - 2px - 1.3rem);
            text-align: center;

            #{$root}__scene--single & {
                left: 1px;
                width: calc(100% - 2px);
            }
        }

        &-content-info {
            padding: 1.5rem;
            background: rgba(#fff, 0.85);
        }
    }
}
