<component-adder class="cc-component-adder">
    <div slot="cc-component-adder__button-create">
        {% include '../../action-button/action-button.twig' with {
            'classes': 'cc-action-button--look_important cc-action-button--type_icon-only | cc-component-adder__button',
            'icon': {
                'classes': 'cc-action-button__icon--size_100',
                'svgId': 'icon_plus'
            }
        } %}
    </div>
</component-adder>
