// Version 0.0.1
.cc-accordion-preview {
    $root: &;

    position: relative;
    z-index: 0;

    &__wrapper,
    &__item-content {
        position: relative;
        overflow: hidden;
        max-height: 25rem;

        &:after {
            position: absolute;
            z-index: 3;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper:after {
        height: 75%;
        background: linear-gradient(
            to bottom, 
            rgba(#fff, 0) 0%,
            rgba(#fff, 0) 53%,
            rgba(#fff, 1) 96%,
            rgba(#fff, 1) 100%
        );
    }

    &__items {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
    }

    &__item {
        position: relative;
        margin: 1.5rem 0 0;
        padding: 1.2rem 1.5rem;
        border: 1px dashed #e4e1d9;
        border-radius: 2px;
        background-color: #f7f7f7;
        color: #adadad;
        font-size: 1.45rem;
        font-weight: 300;

        &--open {
            margin-top: 0;

            #{$root}__item-content:after {
                z-index: 2;
                background: linear-gradient(
                    to bottom, 
                    rgba(#f7f7f7, 0) 0%,
                    rgba(#f7f7f7, 0) 25%,
                    rgba(#f7f7f7, 1) 96%,
                    rgba(#f7f7f7, 1) 100%
                );
            }

            #{$root}__arrow {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__item-headline {
        position: relative;
        padding-right: 4rem;
    }

    &__item-content {
        position: relative;
        margin-top: 1.2rem;
        overflow: hidden;
        max-height: 5.8rem;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        width: 1.7rem;
        height: 1rem;
        transform: translateY(-50%);
    }
}
