.cc-position-grid {
    $root: &;

    display: flex;
    flex-wrap: wrap;
    margin: 2px -1px -1px;
    box-sizing: border-box;

    &__item {
        width: 3.8rem;
        height: 0.9rem;
        margin: 1px;
        border: 2px solid #d4d4d4;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.15s linear, border-color 0.15s linear;

        &--active {
            background-color: #0072ff;
            border-color: #0072ff;
        }
    }
}
